@{
    ViewData["Title"] = "celina.solutions";
}

<div class="text-center">
    <h1 class="display-4"><a href="https://celina.solutions">https://celina.solutions</a></h1>
    <p>DotNet Core 8 Demo App for WebApp deployments</p>
</div>

<div class="text-left">
    <h3 class="display-8">Deployment Requirements</h3>
    <p>
        <ul>
            <li>WebApp running DotNet Core 8</li>
        </ul>
    </p>
</div>